.border-top.To-Do {
    border-color: #D67BFF !important;
}

.border-top.In.Progress {
    border-color: #FFB6D9 !important;
}

.border-top.For.Testing {
    border-color: #FEFFAC !important;
}

.border-top.Done {
    border-color: #45FFCA !important;
}

.taskCol {
    background-color: var(--bs-light-bg-subtle);
}

.taskColus {
    max-height: 70vh;
    min-height: 70vh;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .taskColus {
        max-height: 82vh;
        min-height: 0vh;
    }
 }